*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

header{
    height: 54px;
}

.brand{
    width: 100%;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* alinha horizontalmente com espaço entre eles */
    align-items: center;
    height: 54px;   
    /* alinha ao centro verticalmente */
}

header .brand{
    display: flex;
    width: 2.5rem;
    gap: 1rem;
    align-items: center;
    img{
        width: 100%;
    }
    h1{
        font-size: 24px;
    }
}
header .brand h1 {
    font-size: 1.5rem;
    color: #01528a;
    font-weight: 400;
    line-height: 2rem;
}

header nav{}

header nav ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

header li{
    font-weight: 300;
    line-height: 2rem;
}

header nav a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

header nav a:hover {
    color: #01528a;
}

header nav a.active{
    font-weight: 500;
    border-bottom: 2px solid #0889d4;
}

header nav button{
    background-color: #0889d4;
    color:aliceblue;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.874rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

main{}

#banner {
    height: 550px;
    border: 1px aliceblue;
    background-color: #ffff;
    border-radius: 0.625rem;
    color: #01528a;
    background-image: url('/img/background-house.png');
    background-repeat: no-repeat;
    background-position: right;
}

#banner .banner-content{
    width: 650px;
    height: 100%;
    background: linear-gradient(270deg, rgba(255,255,255,0), #ffffff 50%);
}

#banner h3{
    margin: 0;
}

#banner .banner-body1{
    padding: 3.75rem 0 0 2.8rem;
    font-size: 4rem;
    font-weight: 300rem;
}

#banner .banner-body2{
    margin-top: 1rem;
    margin-left: 2.8rem;
    font-weight: 500;
    font-size: 1.4rem;
}

section{
    margin-top: 4rem;
}

section>h2{ /* T/B L/B */
    padding: 2rem 0;
    font-weight: 300;
    text-align: center;
    font-size: 2.5rem;
    color: #01528a;
    margin: 2rem 0;
}

#cards {}

#cards .cards-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cards .card{
    width: 530px;
    display: flex;
    gap: 1rem;
    box-shadow: rgb(0 0 0 / 20%) 0 2px 1px -1px,
    rgb(0 0 0 / 14%) 0 1px 1px 0,
    rgb(0 0 0 / 12%) 0 1px 3px 0;
    border-radius: 0.6rem;
    margin-bottom: 3rem;
    padding: 1rem;
    position: relative;

}

#cards .card h4{
    font-weight: 400;
    margin-bottom: 0.8rem;
}

#cards .card p{
font-weight: 300;
text-align: justify;

}

#cards .card.price{
    display: flex;
    justify-content: end;
    right: 1rem;
    bottom: 1rem;
}

#cards .card.price p{
    position: absolute;
    background-color: #0889d4;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin: 0;
}

#reason {
    width: 100%;

    .reasons-content {
        display: flex;
        justify-content: space-between;
    }

    .reason {
        border-left: 2px solid #0889D4;
        width: 100%;
    }

    .reason:first-of-type {
        border: 0px;
    }

    p{
        text-align: center;
    }

    .reason-value {
        font-size: 2rem;
        font-weight: 300;
    }

    .reason-label {
        font-size: 1.5rem;
        color: #8F90A6;
        
    }
}

#specialists {}

#specialists .specialists-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#specialists .specialists{
    width: 100%;
    border: 1.5px solid #dcdceb;
    border-radius: 0.75rem;
    padding: 1.5rem;
    color: #01528a;
}
#specialists h4{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
#specialists p{
    font-size: 0.8rem;
    font-weight: 300;   
}

#specialists .specialists-detail {
    color: #000000;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    padding-top: 1rem;
}

#values {
    padding-bottom: 5rem;

    .values-content{
        display: flex;
        gap: 1rem;
    }
    
    .values-text{
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
        gap: 1rem;
    }

    .values-text {
        font-size: 1.1rem;
        text-align: justify;
        font-weight: 300;
    }

    .detail {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding: 1.5rem;

        .value {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            p{
                padding-left: 1.5rem;
                background-image: url('/img/bullet-values.svg');
                background-repeat: no-repeat;
                background-position-y: center;
                font-weight: 1000 !important;
            }
        }
    }
}


footer{
    background-color: #0889D4;
    color: #ffffff;
    margin-top: 3rem;
    padding: 3rem 0;
}

footer .footer-content{
    display: flex;
    justify-content: space-between;
}

footer .footer-company{
    width: 450px;
}

footer .footer-brand{
    background-image: url('/img/logo_imobiliaria_branca.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 2rem;
    padding-left: 2.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 300rem;
    margin-bottom: 1rem;
}

footer .footer-company p{
    font-size: 1rem;
    font-weight: 300;
}

footer .footer-menu{
    font-size: 1rem;
    font-weight: 300;
}

footer .footer-menu ul{
    list-style-type: none;
    margin-top: 1rem;
}

footer .footer-menu li{
    margin-bottom: 0.5rem;
}

footer .footer-menu a{
    color: #ffffff;
    text-decoration: none;
}

footer .footer-menu a:hover{
    text-decoration: underline;
}

footer .footer-social{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}



span {
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
  }

  .facebook {
    background-image: url('/img/icon-facebook.svg');
  }

  .twitter {
    background-image: url('/img/icon-twitter.svg');
  }

  .instagram {
    background-image: url('/img/icon-instagram.svg');
  }

  .linkedin {
    background-image: url('/img/icon-linkedin.svg');
  }

footer .footer-copyright p{
    font-weight: 300;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 1.5rem;
}